<div class='crypto-table-container'>
  <h1>{{title}}</h1>
  <div *ngIf="data && !loading">
    <table class='crypto-table' width='100%'>
      <thead>
        <tr>
          <th>Cryptocurrency</th>
          <th>Symbol</th>
          <th>Price(USD)</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of data">
          <td>{{e['name']}}</td>
          <td>{{e['symbol']}}</td>
          <td>${{e['usd']['price']}}</td>
          <td>{{e['last_updated'] * 1000 | date: 'M/d/yy, hh:mm:ss'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="loading || !data">
    <h1>Loading.. please wait!</h1>
  </div>
</div>